<% include partials/header %>
<div class="container">
<h1>See what visitors of <%=campground.campgroundName%> have to say.</h1>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-9">
<div class="thumbnail campThumbnail">
<img class="img-responsive campImage" src="<%=campground.campgroundImage%>">
<div class="caption-full campCaption">
<h4><%=campground.campgroundName%></h4>
<div class="editCampName">
<p>Posted by: <%=campground.user.username%></p>
<% if(currentUser == campground.user.username){ %>
	<div class="editCampDeets">
	<a class="editButton" href="/campgrounds/<%=campground._id%>/edit"><i class="material-icons">edit</i></a>
	<form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
			<button class="trashButton noBtnDefaults" type="submit"><i class="material-icons">delete</i></button>
	</form>
</div>
<% } %>
</div>
<p><%=campground.campgroundDescription%></p>
</div>
</div>
<div class="well">
	<h4>What visitors have to say</h4>
<% for(i=0;i<campground.comments.length;i++){ %>
        <p class="userComment"><i class="material-icons">
        account_circle
			</i><%=campground.comments[i].author.username%>: <%=campground.comments[i].text%>
        </p>
<% } %>
<p class="userComment"><i class="material-icons addComment">add_circle</i> Add a comment...</p>
<div class="callNewComment"></div>
</div>
</div>
</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script>
	$(document).ready(function () {
		$(".addComment").on("click", function(e){
			$.ajax({
			url: "/campgrounds/<%=campground._id%>/comments/new",
			success: function(result) {
				if(result[1]=="d"){
				$(".callNewComment").html(result);
				}else{
				window.location.replace("/login")
				}
			}
	});
		})
	});	</script>
<% include partials/footer %>
