<% include partials/header %>
<div class="container">
<h1>See what visitors of <%=campground.campgroundName%> have to say.</h1>
<div class="row">
<div class="col-md-3">
<ul>
<li></li>
<li></li>
<li></li>
</ul>
</div>
<div class="col-md-9">
<div class="thumbnail campThumbnail">
<img class="img-responsive campImage" src="<%=campground.campgroundImage%>">
<div class="caption-full campCaption">
<h4><%=campground.campgroundName%></h4>
<p><%=campground.campgroundDescription%></p>
</div>
</div>
<div class="well">
	<h4>What visitors have to say</h4>
<% for(i=0;i<campground.comments.length;i++){ %>
        <p class="userComment"><i class="material-icons">
        account_circle
        </i><%=campground.comments[i].author%>: <%=campground.comments[i].text%>
        </p>
<% } %>
<p class="userComment"><i class="material-icons addComment">add_circle</i> Add a comment...</p>
<div class="callNewComment"></div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
	$(".addComment").on("click", function(e){
		$.ajax({
		url: "/campgrounds/<%=campground._id%>/comments/new",
		success: function(result) {
			console.log("chicken"+result)
			$(".callNewComment").html(result);
		}
});
	})
});	
</script>
<% include partials/footer %>
